
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 3rem auto 0;
    text-align: center;
}

.wrapper h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.wrapper input {
    display: block;
    margin: 1rem auto;
    width: 85%;
    max-width: 700px;
    padding: .2rem;
}

.wrapper > button {
    background-color: var(--orange);
}

.wrapper > button:hover {
    background-color: var(--red);
}

.error {
    color: var(--red);
}
