.recipe {
  box-shadow: 0px 0px 3px var(--shadow-color);
}

.img_wrapper {
  position: relative;
  height: 335px;
}

.img_wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cooking_time {
  color: var(--white);
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.5rem;
  border-radius: 2rem;
}

.recipe_name {
  width: 100%;
  font-weight: bold;
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0%;
  left: 50%;
  translate: -50%;
  padding: 1rem 0;
}

.user_name {
  padding: 0.5rem;
  font-weight: bold;
}

.btn_wrapper {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
