.wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 100%;
}

.active_button {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 100%;
  background-color: red;
}
